name: Scrape Data



on:
  workflow_dispatch:
  schedule:
   # - cron: "16 3,4,5,6,7 * * 1-5" # 9:16 AM - 9:46 AM IST from Monday to Friday
    - cron: '*/15 * * * '

permissions:
  contents: read

jobs:
  scrape_data:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: pip install -r requirements.txt
        
      - uses: browser-actions/setup-chrome@v1
      - run: chrome --version
        
      - name: Scrape data
        run: python scap.py
        env:
          TZ: Asia/Kolkata
          DISPLAY: ":99"
          CHROME_BIN: "/usr/bin/google-chrome"
